* {
    font-family: "Azeret Mono", monospace;
}

/* navbar section */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 38px 0;
}

nav>h2 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

.btn-primary {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    background-color: white;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

/* banner section */

.banner {
    background-image: url(./assets/Hero-bg.png);
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    width: 998px;
    text-align: center;
    margin: 24px 0px;
}

.banner-description {
    width: 852px;
    text-align: center;
    margin: 24px 0px;
}

.contact-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 32px 0px;
}

.banner>a :hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

/* development section */

.development {
    margin: 74px auto;
    width: 946px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.025);
    padding: 80px 97px 48px 97px;
}


.title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin: 0px 0px 24px 0px;
}

.description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    text-align: center;
    width: 852px;
    margin: 48px auto;
}

.d-info {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    align-items: center;
    margin: 32px 0;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255, 0), rgba(255, 255, 255) 100%);
}

.d-info-1 {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.d-info-text {
    width: 477px;
}

.d-info-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.d-info-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 32px 0px;
}

.d-img {
    width: 274.17px;
    height: 240px;
}

/* inspiration section */

.inspiration {
    width: 1140px;
    margin: 90px auto;
}

.video {
    border-radius: 16px;
    width: 1076px;
    height: 550px;
    padding: 32px;
    margin: 48px 0px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

/* current target section */

.current-target {
    width: 1140px;
    margin: 111px auto;
}


.target-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 48px 0;
}

.html {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    width: 364px;

}

.css {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    width: 364px;
}

.java {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    width: 364px;
}


.target-link {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

.target-box-1 {
    margin: 48px 0;
}

.next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin: 24px 0;
}

/* support section */

.support {
    border-radius: 16px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    width: 1044px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 48px 64px 48px;
    margin: 0 auto;
}

.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0px;
}

.support-description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    width: 606px;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}

.f-input {
    width: 508px;
    height: 57px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 0 20px;

}

.f-input ::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
}

.f-submit {
    width: 120px;
    height: 57px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 0 20px;
}

/*footer section  */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
}

.social {
    display: flex;
    align-items: center;
    gap: 24px;
}